body {
	font-family: 'Rubik', sans-serif;
}

.logo {
	margin-top: 50pt;
}

.title {
	font-weight: 700;
	font-size: 36pt;
	margin-top: 5%;
	color: #2653AF;
}

.subtitle {
	font-weight: 700;
	font-size: 24pt;
	margin-top: 5%;
	color: #2653AF;
}

.text {
	font-weight: 500;
	font-size: 12pt;
	color: #2653AF;
	margin-top: -20pt;
}

.subtext {
	font-weight: 500;
	font-size: 12pt;
	color: #2653AF;
	margin-top: -8pt;
}

