body {
	font-family: 'Rubik', sans-serif;
}

a {
	color: #898989;
	text-decoration: none;
}

a:hover {
	color: #5b5b5b;
	text-decoration: none;
}

.logo {
	margin-top: 40pt;
	margin-bottom: 20pt;
}

.menu {
	margin: 0;
	padding: 0;
	margin-bottom: 20pt;
	list-style: none;
}

.sbmenu {
	padding: 0;
	margin: 0;
	display: inline;
    margin-right: 10pt;
}

.title {
    margin-top: 30pt;
	font-weight: 700;
	font-size: 36pt;
	color: #2653AF;
}

.sbtitle {
	margin-top: 30pt;
	font-weight: 700;
	font-size: 24pt;
    color: #2653AF;
}

.text {
	margin-top: -20pt;
	margin-bottom: 30pt;
	font-weight: 500;
	font-size: 12pt;
	max-width: 350pt;
	color: #262626;
}

.sbtext {
	margin-top: -8pt;
	font-weight: 500;
	font-size: 12pt;
	max-width: 350pt;
	color: #262626;
}

.sblink {
	margin-top: -8pt;
	font-weight: 500;
	font-size: 12pt;
	color: #898989;
}

.mnlink {
	font-weight: 500;
	color: #2653AF;
	text-decoration: none;
}

.mnlink:hover {
	color: #214796;
	text-decoration: none;
}

.bttn {
	margin-top: 10pt;
	margin-right: 10pt;
	padding-top: 8pt;
	padding-bottom: 8pt;
	padding-left: 12pt;
	padding-right: 12pt;
	border-radius: 2pt;
    border: none;
	color: white;
	background-color: #898989;
}

.bttn:hover {
	background-color: #5b5b5b;
	color: white;
}

.clrd {
	background-color: #2653AF !important;
}

.clrd:hover {
	background-color: #214796 !important;
}

.blue {
	background-color: #2653AF;
}

.inv {
	color: white !important;
}

.card {
	margin-top: 10pt;
	background-color: white;
	box-shadow: 0pt 5pt 15pt 0pt rgba(0,0,0,0.05);
	border-radius: 2pt;
	margin-bottom: 10pt;
}

.card:hover {
	margin-top: 10pt;
	background-color: white;
	box-shadow: 0pt 5pt 15pt 0pt rgba(0,0,0,0.20);
	border-radius: 2pt;
	transition: 0.1s;
}

.card img {
	width: 100%;
	height: auto;
}

.card-img {
	border-radius: 2pt;
}

.bsbtitle {
	margin-top: 20pt;
	margin-bottom: 5pt;
	font-weight: 700;
	font-size: 16pt;
    color: #262626;
}

.btitle {
    margin-top: 0pt;
    margin-bottom: 10pt;
	font-weight: 700;
	font-size: 36pt;
    color: #262626;
}