body {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgb(0, 0, 0);
	user-select: none;
}

a {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
    transition: all 0.3s ease-out;
}

a:hover {
	text-decoration: none;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 48px;
	line-height: 56px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 9px;
	font-size: 36px;
	line-height: 44px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 24px;
	line-height: 32px;
}

h4 {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 24px;
}

p {
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 26px;
}

.header {
	padding-top: 40px;
	padding-bottom: 20px;
}

.body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 20px;
}

.green {
	background-color: rgb(104, 143, 78);
}

.top {
	margin-top: 30px;
}

.inv {
	color: rgb(255, 255, 255);
}

.accent {
	color: rgb(104, 143, 78);
}

.link-dark {
	color: rgb(0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, .1);
}

.link-dark:hover {
	color: rgba(0, 0, 0, .5);
	border-bottom-color: rgba(0, 0, 0, .05);
}

.link-light {
	color: rgb(255, 255, 255);
	border-bottom-color: rgba(0, 0, 0, .1);
}

.link-light:hover {
	color: rgba(255, 255, 255, .7);
	border-bottom-color: rgba(0, 0, 0, .05);
}

.link-accent {
	color: rgb(104, 143, 78);
	border-bottom-color: rgba(0, 0, 0, .1);
}

.link-accent:hover {
	color: rgba(104, 143, 78, .7);
	border-bottom-color: rgba(0, 0, 0, .05);
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item {
	display: inline;
	margin-right: 10px;
}

@media (max-width: 768px) {
  .menu-button {
    margin-bottom: 10px;
  }
}

.menu-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
    line-height: 22px;
	border-radius: 5px;
    border: none;
    background-color: rgba( 0, 0, 0, .05);
    transition: all 0.3s ease-out;
}

.menu-button:hover {
    background-color: rgba( 0, 0, 0, .1);
}

.menu-button:focus {
	outline: none;
}

.article {
	margin-bottom: 20px;
	transition: all 0.3s ease-out;
}

.article:hover {
	box-shadow: 0pt 5pt 15pt 0pt rgba(0,0,0,0.20);
}

.article img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.hide {
	display: none;
}

.icon-big {
	margin-left: 10px;
	font-size: 14px;
	vertical-align: middle;
}

.icon-small {
	margin-left: 10px;
	font-size: 12px;
	vertical-align: middle;
}

.card {
	height: auto;
	width: 100%;
	margin-top: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease-out;
	box-shadow: 0pt 5pt 15pt 0pt rgba(0, 0, 0, .05);
}

.card p {
	font-size: 16px;
	line-height: 24px;
}

.card:hover {
	box-shadow: 0pt 5pt 15pt 0pt rgba(0, 0, 0, .1);
}

.code-img {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 30%;
	height: auto;
}

.small {
	font-size: 16px;
	line-height: 24px;
}
